<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col1">
        <span class="text">© 2023 T-Systems International GmbH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a class="icon" href="https://www.youtube.com/user/TSystemsIberia"><i class="bi bi-youtube"></i>&nbsp;&nbsp;&nbsp;</a>
        <a class="icon" href="https://twitter.com/TSystems_Iberia"><i class="bi bi-twitter"></i>&nbsp;&nbsp;&nbsp;</a>
        <a class="icon" href="https://www.linkedin.com/company/tsystems-iberia/"><i class="bi bi-linkedin"></i>&nbsp;&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
</footer>
