<div class="d-flex justify-content-center align-items-center">
  <div class="row shadow rounded">

    <div class="col-lg-4 col-md-12">
      <p class="title-selects">Country</p>
      <select class="form-select" aria-label="Country">
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-lg-4 col-md-6">
      <p class="title-selects">Region</p>
      <select class="form-select" aria-label="Region">
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-lg-4 col-md-6">
      <!-- Button trigger modal -->
      <p class="title-selects">&nbsp;</p>
      <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Compare with
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-body">
              <button class="btn btn-light list-compare">Pais 1</button>
              <button class="btn btn-light list-compare">Pais 2</button>
              <button class="btn btn-light list-compare">Pais 3</button>
              <button class="btn btn-light list-compare">Pais 4</button>
            </div>
          </div>
        </div>
    </div>
    </div>

  </div>
</div>
