<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar1">
  <a class="navbar-brand" href="#">
    <span>COUNTRY APP</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href=""> HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"> DASHBOARD </a>
      </li>
    </ul>
  </div>
  <div class="d-flex">
    <a class="btn btn-info buttonLogin" href="/login" role="button">
      <i class="bi bi-person-circle"></i>&nbsp;&nbsp;&nbsp;Log in
    </a>
  </div>
</nav>
